@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans+JP:wght@400;700&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  vertical-align: center;
}

.tsd-tag {
  margin-right: 0.5rem;
}

html body {
  font-family: "IBM Plex Sans JP", sans-serif !important;
}

h1 {
  font-family: "IBM Plex Serif", serif !important;
}

body *:not(code):not(h1):not(pre):not(code *):not(pre *):not(.tsd-signature):not(.tsd-signature *):not(.tsd-index-signature):not(.tsd-index-signature *) {
  font-family: inherit !important;
}

code, pre, kbd, samp,
.tsd-signature, .tsd-signature *,
.tsd-index-signature, .tsd-index-signature * {
  font-family: "IBM Plex Mono", ui-monospace, monospace !important;
}